*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 600px;
    background:  url(backgorund.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}
.main .tex{
    width: 100%;
    height: 300px;
    /* border: solid red 5px; */
}
.main .tex h1{
    text-align: center;
    padding-top: 100px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 80px;
}
.main  .tex h2{
    text-align: center;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.main .tex h3{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
.main .img{
    width: 100%;
    height: 300px;
    /* border: solid black 5px; */
    display: flex;
    justify-content: center;
}
.main .img .f1{
    width: 33%;
    height: 300px;
    /* border: solid blue 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .img .f1 img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 50px;
}
.main .img .f1 h1{
    font-family: "Indie Flower", cursive;
}